<html>
  <head>
    <%- include("partials/head") %>
  </head>
  <body>
    <%- include("partials/nav") %>

    <div class="details content">
      <h2><%= blog.title %></h2>
      <div class="content">
        <p><%= blog.body %></p>
      </div>

      <a class="delete" data-doc="<%= blog._id %>">Delete</a>
    </div>

    <%- include("partials/footer") %>

<script>
  const trash = document.querySelector("a.delete");

  trash.addEventListener("click", (e) => {
    e.preventDefault();

    const endpoint = `/blogs/${trash.dataset.doc}`;

    fetch(endpoint, {
      method: "DELETE"
    })
      .then((response) => response.json())
      .then((data) => {
        console.log(data);
        window.location.href = "/blogs";
      })
      .catch((err) => {
        console.error(err);
      });
  });
</script>

  </body>
</html>
